<ul cdkDropList id="task-list" (cdkDropListDropped)="drop($event)" [cdkDropListData]="dofu.tasks"
    class="list-none flex flex-column p-0 m-0">
  <li cdkDrag [cdkDragDisabled]="checkDrag(this.task)" (cdkDragDropped)="dragDropped(task)" [cdkDragData]="this.task"
      id="task-box" *ngFor="let task of dofu.tasks" class="list-group-item px-1 shadow-1">
    <app-task (onTaskDeleted)="taskDeleted($event)" (onTaskAdded)="taskAdded($event)"
              (onTaskUpdated)="taskUpdated($event)" [id]="task.id"></app-task>
  </li>
</ul>

