input:focus {
  outline-width: 0px;
}

input {
  min-width: 75%;
}

input:disabled {
  background-color: white;
}

mat-icon {
  height: fit-content;
  color: lightgray;
}

mat-icon.deleteIcon {
  color: lightsalmon;
}

.list-group-item {
  --list-group-item-padding-x: 0;
}




