<div class="h-50">
  <div class="row .mx-0 g-0">
    <div class="col border-end">
      <app-date-title [date]="dates[0]"></app-date-title>
    </div>
    <div class="col border-end">
      <app-date-title [date]="dates[1]"></app-date-title>
    </div>
    <div class="col border-end">
      <app-date-title [date]="dates[2]"></app-date-title>
    </div>
    <div class="col">
      <app-date-title [date]="dates[3]"></app-date-title>
    </div>
  </div>
  <div class="row .mx-0 g-0 text-center h-50">
    <app-dofu-view class="col border-end"></app-dofu-view>
    <app-dofu-view class="col border-end"></app-dofu-view>
    <app-dofu-view class="col border-end"></app-dofu-view>
    <app-dofu-view class="col"></app-dofu-view>
  </div>
</div>
