<app-header-view></app-header-view>
<div class="h-50 border border-1 p-3 rounded-3">
  <div class="row .mx-0 g-0">
    <div class="col date-title" [style.border-right-width]="isLast(dofu) ? '0px' : '1px'"  *ngFor="let dofu of dofus">
      <app-date-title [date]="dofu.date"></app-date-title>
    </div>
  </div>
  <div cdkDropListGroup  class="row .mx-0 g-0 text-center h-50">
    <app-dofu-view *ngFor="let dofu of dofus" class="col" [style.border-right-width]="isLast(this.dofu) ? '0px' : '1px'" [date]="dofu.date"></app-dofu-view>
  </div>
</div>


