<div
  class="login-body"
>
  <div class="login-content d-flex justify-content-center align-items-center">
    <div class="login-panel-content">
      <div class="login-title d-flex flex-row">
        <div class="d-flex flex-row">
          <div class="me-3">
            <p class="fs-2">豆</p>
            <p class="fs-2">腐</p>
          </div>
          <div>
            <p class="fs-1 mb-3">dofu</p>
            <p class="fs-4">a todo list</p>
          </div>
        </div>
      </div>

      <asl-google-signin-button type="standard" class="mx-2">Sign in with Google</asl-google-signin-button>

      <!-- //Custom Google Login Button with Custom redirect uri-->
      <!--data-login_uri="http://localhost:8080/api/user/login"-->

      <!--      <div id="g_id_onload"-->
      <!--           data-client_id="315687330122-oql11qeaddlv99jbt6rs9rl61331t7mo.apps.googleusercontent.com"-->
      <!--           data-context="signin"-->
      <!--           data-ux_mode="redirect"-->
      <!--           data-login_uri="https://accounts.google.com/o/oauth2/v2/auth"-->
      <!--           data-auto_prompt="false">-->
      <!--      </div>-->

      <!--      <div class="g_id_signin"-->
      <!--           data-type="standard"-->
      <!--           data-shape="rectangular"-->
      <!--           data-theme="outline"-->
      <!--           data-text="signin_with"-->
      <!--           data-size="large"-->
      <!--           data-auto_select="true"-->
      <!--           data-logo_alignment="left">-->
      <!--      </div>-->

    </div>
  </div>
  <script src="https://accounts.google.com/gsi/client" async></script>
</div>
